.credit-link {
    color: var(--color-neutral-600);
}

@media (prefers-color-scheme: dark) {
    .credit-link {
        color: var(--color-neutral-400);
    }
}

a:hover {
    text-decoration: none;
}
