@import "tailwindcss";

:root {
    --background: var(--color-zinc-50);
    --foreground: #171717;
    --border: oklch(87.1% 0.006 286.286 / 0.9);
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: var(--color-neutral-950);
        --foreground: #ededed;
        --border: oklch(37.1% 0 0 / 0.7);
    }
}

body {
    background: var(--background);
    color: var(--foreground);
    font-family: var(--font-jetbrains), var(--font-m-plus), sans-serif;
}

h1 {
    font-size: 32px;
    font-weight: bold;
}

h2 {
    font-size: 24px;
    font-weight: bold;
}

h3 {
    font-size: 20px;
    font-weight: bold;
}

h4 {
    font-weight: bold;
}

hr {
    border-top: 1px solid var(--border);
    border-bottom: none;
    border-left: none;
    border-right: none;
}

.header-color {
    background: oklch(98.5% 0 0 / 0.9);
    border-bottom: 1px solid var(--border);
}

@media (prefers-color-scheme: dark) {
    .header-color {
        background: oklch(14.5% 0 0 / 0.7);
        border-bottom: 1px solid var(--border);
    }
}

.katex-display {
    overflow-x: auto;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    padding: 1rem 0;

    -webkit-mask-image: linear-gradient(
        to right,
        transparent,
        #000 20px,
        #000 calc(100% - 20px),
        transparent
    );
    mask-image: linear-gradient(
        to right,
        transparent,
        #000 20px,
        #000 calc(100% - 20px),
        transparent
    );
}

.katex-display > .katex {
    white-space: nowrap;
}
